<div class="p-3">
    <h2 class="font-main font-semibold text-xl leading-8 text-main mb-5">Media</h2>
    <table class="table-fixed w-full border-collapse border border-slate-400 ">
        <thead class="bg-table text-main text-sm font-semibold">
           
                <th class="p-3 text-black w-1/12 mx-6">
                   
                    <input class="w-full" type="checkbox">
                </th>
                <th class="w-2/12">
                    <i class="fa-solid fa-image"></i>
                </th>
                <th class="lg:text-start max-sm:text-center">
                    Name
                </th>
                <th class="max-sm:text-center max-sm:w-3/12 lg:w-6/12 lg:text-start ">
                    Date
                </th>
                
                
           
        </thead>
        <tbody class="text-center table-font font-semibold text-base table-font text-table  ">
         @for (item of allImage; track $index)
          {
            <tr class="border-collapse border border-slate-400 p-10 " >
                <td class="p-7">
                    <input class="w-full" type="checkbox" [value]="item.id" (change)="change($event)">

                </td>
                <td class="mx-auto">
                    @if (item.link !=null)
                    {
                       <img crossorigin="anonymous" class="w-1/2 mx-auto" loading="lazy" [src]="baseUrl+item.link" [alt]="baseUrl+item.link">

                    }
                    @else {
                       <i class="fa-solid fa-image"></i>
                    }
                </td>
                <td class="text-black lg:text-start max-sm:text-center text-sm font-semibold">
                    {{item.product.name}}
                </td>
                <td class="lg:text-start max-sm:text-center text-sm font-semibold">
                    {{item.created_at.slice(0,10)}}  at {{item.created_at.slice(11,19)}} 
                </td>
              </tr>

          }
            
            
           
        </tbody>
    </table>

    <div class="flex items-center">
        <div class="lg:w-2/12 max-sm:w-6/12">
            <p (click)="deleteImage()" class="mx-10 border-2 text-center p-2 text-red-500 rounded-md cursor-pointer ">
                Remove
            </p>
        </div>
        <div class="my-8 w-8/12 flex mx-auto justify-around">
            <p>
                Page 
                <span>
                    {{currentPage}}
                </span>
                to
                <span>
                    {{numPage}}
                </span>
            </p>
            <div class="flex">
                <div class="w-6 h-6 text-center bg-arrow mx-3 cursor-pointer">
                    <i (click)="backPage()" class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="w-6 h-6 text-center bg-arrow cursor-pointer">
                    <i (click)="nextPage()" class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <p class="hidden lg:block">
                Go to page
            </p>
            <input (change)="goToPage($event)" type="text" class="border-main w-1/12 hidden lg:block rounded  border-2 border-solid outline-none" >
        
            <p class="hidden lg:block">
                Rows per page
            </p>
            <input (change)="rowPerPage($event)" type="text" min="1" max="20" class="border-main w-1/12 hidden lg:block rounded  border-2 border-solid outline-none">
        
        </div>
    </div>

</div>