<!--
    <div>
    <label for="productDate" class="block font-main text-main ">Date Range : </label>
<input type="date" name="productDate" id="productDate" class="border-main2 border-2 border-solid outline-none my-3 p-1 rounded lg:w-4/12 max-sm:w-6/12">


</div>
-->
<div class="flex flex-wrap my-4">
    <div class="    md:w-6/12 max-sm:w-8/12 max-sm:mx-auto p-2">
        <div class="border-solid border-main2 border-2 rounded-2xl	p-8">
            <p class="font-main font-normal text-xl text-main mb-4">Orders</p>
            <span class="font-main font-normal text-2xl text-black ">{{orders}}</span>
        </div>
    </div>
    <div class="    md:w-6/12 max-sm:w-8/12 max-sm:mx-auto p-2">
        <div class="border-solid border-main2 border-2 rounded-2xl	p-8">
            <p class="font-main font-normal text-xl text-main mb-4">Gross Revenue</p>
            <span class="font-main font-normal text-2xl text-black ">{{Gross_Revenue.toFixed(2)}} SR</span>
        </div>
    </div>
    <div class="    md:w-6/12 max-sm:w-8/12 max-sm:mx-auto p-2">
        <div class="border-solid border-main2 border-2 rounded-2xl	p-8">
            <p class="font-main font-normal text-xl text-main mb-4">Average order value</p>
            <span class="font-main font-normal text-2xl text-black ">{{Average_order_value.toFixed(2)}} SR</span>
        </div>
    </div>
</div>
<!--
    <div class="my-12 flex justify-end ">
    <p routerLink="detailsorder" class=" font-main text-xl leading-6 font-semibold text-black">
        <i class="fa-solid fa-cloud-arrow-down "></i>
        download
    </p>
  
</div>
-->
<div class="">
    <table class="table-fixed w-full border-collapse border border-slate-400 ">
        <thead class="bg-table text-head-table">
           
                <th class="p-3 text-black ">
                    Orders #
                </th>
                <th>
                    Status
                </th>
                <th>
                    Customer
                </th>
                <th class=" ">
                    Items sold
                </th>
                <th class="  ">
                    Sales
                </th>
                
        </thead>
        <tbody class="text-center table-font font-semibold text-base table-font text-table  ">
         @for (item of allorder; track $index)
          {
            <tr class="border-collapse border border-slate-400 p-6 " >
                <td [routerLink]="['detailsorder',item.id]"  class="p-4 text-row underline cursor-pointer">
                    {{item.orderNo}}
                </td>
                <td>
                    @if (item.status=='Outstanding') 
                    {
                        
                            <span class="mx-2 border-2 lg:visible invisible  rounded-full py-1 w-3 h-3 cursor-pointer">
                                <i class="fa-solid fa-minus fa-stack fa-sm"></i>
                            </span>
                            Processing
                            
                            
                       
                    }
                    @else if (item.status=='Processing')
                     {
                        
                            <span class="mx-2 border-2 lg:visible invisible  rounded-full py-1 w-3 h-3 cursor-pointer">
                                <i class="fa-solid fa-minus fa-stack fa-sm"></i>
                            </span>
                            Processing
                            
                            
                        
                     }
                     @else if (item.status=='Refunded') 
                     {
                        <span class="mx-2 lg:visible invisible border-2 border-solid rounded-full py-1 w-3 h-3 border-return cursor-pointer">
                            <i class="fa-solid fa-rotate-left fa-stack return  fa-sm"></i>
    
                        </span>
                        Refunded
                     }
                     @else if (item.status=='Completed') 
                     {
                        <span class="mx-2 lg:visible invisible border-2 border-solid rounded-full py-1 w-3 h-3 border-check cursor-pointer">
                            <i class="fa-solid fa-check fa-stack check  fa-sm"></i>
    
                        </span>
                        Completed
                     }
                     @else if (item.status=='Cancelled')
                      {
                        <span class="mx-2 lg:visible invisible border-2 border-solid rounded-full py-1 w-3 h-3 border-xmark cursor-pointer">
                            <i class="fa-solid fa-xmark fa-stack xmark  fa-sm"></i>
    
                        </span>
                        Cancelled
                      }
                </td>
               
                <td>
                    {{item.user.username}}
                </td>
                <td class="">
                   {{item.order_items[0].quantity}}
                </td>
                <td class="">
                    {{item.total_price}} SR
                </td>
               
              </tr>
          }
         
          <!--
                <tr class="border-collapse border border-slate-400 p-6 " >
                <td class="p-4 text-row underline">
                    104694
                </td>
                <td class="relative">
                    <span class="mx-2 lg:visible invisible border-2 border-solid rounded-full py-1 w-3 h-3 border-return cursor-pointer">
                        <i class="fa-solid fa-rotate-left fa-stack return  fa-sm"></i>

                    </span>
                    Refunded
                   
                    
                </td>
                <td>
                    Wael Al ahmari
                </td>
                <td class="hidden lg:block">
                    1
                </td>
                <td class="hidden lg:block">
                    147.30 SR
                </td>
               
              </tr>
              <tr class="border-collapse border border-slate-400 p-6 " >
                <td class="p-4 text-row underline">
                    104694
                </td>
                <td>
                    <span class="mx-2 lg:visible invisible border-2 border-solid rounded-full py-1 w-3 h-3 border-check cursor-pointer">
                        <i class="fa-solid fa-check fa-stack check  fa-sm"></i>

                    </span>
                    Completed
                    
                </td>
                <td>
                    Wael Al ahmari
                </td>
                <td class="hidden lg:block">
                    1
                </td>
                <td class="hidden lg:block">
                    147.30 SR
                </td>
               
              </tr>
              <tr class="border-collapse border border-slate-400 p-6 " >
                <td class="p-4 text-row underline">
                    104694
                </td>
                <td>
                    <span class="mx-2 lg:visible invisible border-2 border-solid rounded-full py-1 w-3 h-3 border-xmark cursor-pointer">
                        <i class="fa-solid fa-xmark fa-stack xmark  fa-sm"></i>

                    </span>
                    Cancelled
                </td>
                <td >
                    Wael Al ahmari
                </td>
                <td class="hidden lg:block">
                    1
                </td>
                <td class="hidden lg:block">
                    147.30 SR
                </td>
               
              </tr>
              <tr class="border-collapse border border-slate-400 p-6 " >
                <td class="p-4 text-row underline">
                    104694
                </td>
                <td>
                    Refunded
                </td>
                <td>
                    Wael Al ahmari
                </td>
                <td class="hidden lg:block">
                    1
                </td>
                <td class="hidden lg:block">
                    147.30 SR
                </td>
               
              </tr>    
          -->
           
        </tbody>
    </table>
</div>
<!--
        <div class="my-8 w-7/12 flex mx-auto justify-around">
    <p>
        Page 
        <span>
            1
        </span>
        to
        <span>
            5
        </span>
    </p>
    <div class="flex">
        <div class="w-6 h-6 text-center bg-arrow mx-3 cursor-pointer">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="w-6 h-6 text-center bg-arrow cursor-pointer">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    <p class="hidden lg:block">
        Go to page
    </p>
    <input type="text" class="border-main w-1/12 hidden lg:block rounded  border-2 border-solid outline-none" >

    <p class="hidden lg:block">
        Rows per page
    </p>
    <input type="number" min="1" max="20" class="border-main w-1/12 hidden lg:block rounded  border-2 border-solid outline-none">

</div>
-->