<div class="p-3">
    <h2 class="font-main font-semibold text-xl leading-8 text-main ">Category</h2>
    <div class="flex flex-wrap lg:my-6 max-sm:my-4">
        <div class="md:order-3 max-sm:order-3 lg:order-1 lg:w-6/12 md:w-full max-sm:w-full p-2">
            <div>
              <form [formGroup]="checkboxDelete" (ngSubmit)="delete()">
                <table class="table-fixed w-full border-collapse border border-slate-400 ">
                    <thead class="bg-table text-main text-sm font-semibold">
                        <tr>
                            <th class="p-3 text-black w-14  ">
                               
                                <input class="" type="checkbox">
                            </th>
                           
                            <th class="text-start w-7/12">
                                Name
                            </th>
                            <th class="text-start">
                                Count
                            </th>
                            
                            
                     
                            
                        </tr>
                    </thead>
                    <tbody class="text-center table-font font-semibold text-base table-font   ">
                     
                      @for (item of allCategory; track $index) {
                        <tr  class="border-collapse border border-slate-400  " >
                            <td class="p-4">
                                <input onchange="checkedValue(this)" formControlName="category" name="allCategory"  [value]="item.id" [id]="item.id" class="w-full" type="checkbox">
            
                            </td>
                            
                            <td class=" text-sm font-semibold text-start leading-8">
                                {{item.name}}
                               
                            </td>
                            
                           
                            <td class="text-start text-sm font-semibold">
                                {{item.description}}                </td>
                           
                          </tr>
                         
                      }
                        
                         
                       
                    </tbody>
                </table>
                <div class="flex items-center">
                    <div class="w-4/12">
                        <button  type="submit" class="mx-10 border-2 text-center p-2 text-red-500 rounded-md cursor-pointer ">
                            Remove
                        </button>
                    </div>
                    <div class="my-8 w-7/12 flex mx-auto ">
                        <p>
                            Page 
                            <span>
                                {{currentPage}}
                            </span>
                            to
                            <span>
                                {{numPage}}
                            </span>
                        </p>
                        <div class="flex">
                            <div (click)="backPage()" class="w-6 h-6 text-center bg-arrow mx-3 cursor-pointer">
                                <i class="fa-solid fa-chevron-left"></i>
                            </div>
                            <div (click)="nextPage()" class="w-6 h-6 text-center bg-arrow cursor-pointer">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                      
                    
                    </div>
                </div>
              </form>
            
            </div>

        </div>
        <div class="md:order-1 max-sm:order-1 lg:order-3 lg:w-6/12 md:w-full max-sm:w-full p-2">
            <div class="w-11/12 mx-auto">
                <div class=" w-full rounded-xl bg-back-product my-2 p-6">
                    <h2 class="font-main font-semibold text-2xl leading-8 my-4">Add New Category</h2>
                    <form [formGroup]="addCategoryForm" (ngSubmit)="createCategory()">
                        <label for="addCategory" class=" font-semibold text-base text-main">
                            Name Category
                        </label>
                       
                        <input type="text " formControlName="name" id="addCategory" class="p-2 w-11/12 bg-product my-6 mx-auto  rounded-md border-2  border-solid outline-none text-main text-sm  font-semibold	">
                           
                        <label for="desCategory" class=" font-semibold text-base text-main">
                            Description Category
                        </label>
                       
                        <input type="text " formControlName="description"  id="desCategory" class="p-2 w-10/12 bg-product my-6 mx-auto  rounded-md border-2  border-solid outline-none text-main text-sm  font-semibold	">     
        
                      
                       <button type="submit" class="p-2 max-sm:w-6/12 md:w-6/12 lg:w-4/12 border-2 bg-coupon rounded-2xl border-solid text-base block ms-auto font-semibold">
                        Add Category
                    </button>
                    </form>
                   
    
                </div>
            </div>

        </div>

    </div>

</div>