<div class="p-3">
    <div class="mx-7 w-11/12">
       <div class="border lg:w-3/12 max-sm:w-8/12 py-3 text-center rounded-xl">
        <p class="font-main text-main font-normal text-xl">Orders # <span class="text-black mx-5">
            104698 
        </span></p>
       </div>
       <p class="font-main text-main font-normal text-xl my-4" >
        Payment via Pay Later with Tamara Paid on Date June 8, 2024 Time 10:01 am
       </p>
       <div class=" p-6  border rounded-xl  ">
       
     <div class="flex max-sm:flex-wrap">
        <div class="lg:w-6/12 max-sm:w-full my-6 font-main text-black text-base font-normal m-5">
          
           

            <div class="flex justify-between w-4/12 items-center ">
                <p class="text-xl">Billing</p>
            </div>            
            <p class="my-3">
                City : <span class="text-main"> 
                    الخالدية
                </span> 
            </p>
             
            <p class="my-3">
                Zone : <span class="text-main"> 
                    ابها
                </span> 
            </p>
            <p class="my-3">
                 
                 Location : <span class="text-main"> 
                    عسير
                </span> 
            </p>
            <p class="my-3">
                  
                 Post code : <span class="text-main"> 
                    62217
                </span> 
            </p>
            <p class="my-3">
                 
                 Email address : <span class="text-main"> 
                    balqarni418gmail.com
                </span> 
            </p>
              
            <p class="my-3">
                Phone : <span class="text-main"> 
                    0509446832
                </span> 
            </p>
        </div>
        <div class="lg:w-6/12 max-sm:w-full my-6 font-main text-black text-base font-normal m-5">
            <p class="my-3 text-main">
                Date order : 
                <span class=""> 
                    13-7-2023
                </span> 
            </p>
            <p class="my-3 text-main">
                Date refund : 
                <span class=""> 
                    13-7-2023
                </span> 
            </p>
             
           
            <table class=" font-main text-black text-base font-normal mb-6">
                <thead>
                    <th class="w-6/12 text-xl leading-6 font-normal  text-justify">
                        Order
                    </th>
                    <th class="w-2/12 tex-sm leading-6 font-normal text-table">
                        Cost
                    </th>
                    <th class="w-1/12 tex-sm leading-6 font-normal text-table">
                        Qty
                    </th>
                    <th class="w-3/12 tex-sm leading-6 font-normal text-table">
                        Total
                    </th>
                </thead>
                <tbody class="my-6">
                    <tr>
                        <td class="text-justify">
                            <div class="flex justify-start relative -start-7 ">
                                <img src="../../assets/Images/logo.png" class="w-6/12   " alt="">
                                <div>
                                    <p class="underline pb-2 text-row cursor-pointer">عرض الـ 5 تيشرتات!</p>
                                    <p>Size :  <span>L</span></p>
                                </div>
                            </div>
                        </td>
                        <td class="text-center text-sm leading-6">
                            129.99 SR
                        </td>
                        <td class="text-center text-sm leading-6">
                            1
                        </td>
                        <td class="text-center text-sm leading-6">
                            <p>129.99 SR</p>
                            <span class="text-main text-xs">20 SR discount</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>

            <p class="my-1 text-main">
                City : <span class="text-black"> 
                    الخالدية
                </span> 
            </p>
             
            <p class="my-1 text-main">
                Zone : <span class="text-black"> 
                    ابها
                </span> 
            </p>
            <p class="my-1 text-main">
                 
                 Location : <span class="text-black"> 
                    عسير
                </span> 
            </p>
            <p class="my-1 text-main">
                  
                 Post code : <span class="text-black"> 
                    62217
                </span> 
            </p>
            <p class="my-1 text-main">
                 
                 Email address : <span class="text-black"> 
                    balqarni418gmail.com
                </span> 
            </p>
        </div>
     </div>
       </div>
       <h2 class="my-3 font-normal text-xl leading-6 font-main">Reason for return</h2>
       <div class="w-full h-1/4 border-2 border-solid rounded-xl p-3">
        <p class="font-normal text-xl leading-6 font-main text-right">
            الملابس ليست بالجودة المطلوبة
        </p>

       </div>
    </div>
</div>