<div class="bg-marketing py-5 px-8 rounded-xl  font-main">
    <h2 class="font-semibold text-xl leading-8 my-5 ">Add discount basket</h2>
    <div class="lg:w-5/12 w-full">
        <label for="numProduct" class="block text-base leading-6 font-semibold my-3 ">Number of products in the basket</label>

        <input type="text" id="numProduct" class="w-full p-2 bg-coupon  rounded-md outline-none" >

    </div>
    <div class="lg:w-5/12 w-full my-3 ">
        <label for="amountDiscount" class="block text-base leading-6 font-semibold my-3 ">Amount discount </label>

        <input type="text" id="amountDiscount" class="w-full p-2 bg-coupon  rounded-md outline-none" >

    </div>
    <div>
        <div class="flex justify-end my-5">

            <button class="border-2 border-solid border-black  mx-3 py-2 px-6 rounded-md text-base font-semibold ">
                reset
            </button>
               <button class="bg-coupon  mx-3 py-2 px-6 rounded-md text-base font-semibold ">
                Update
               </button>
        </div>
    </div>

    



</div>