<div class="md:hidden flex justify-between items-center m">
    <img src="assets/Images/logo.png" class="w-5/12" alt="">
   <div class="mx-6">
    
    <button class="border-2 border-solid p-2  " id="showNav">
        
        <i class="fa-solid fa-bars fa-2xl mx-auto"></i>
    </button>
    <div id="nav" class="h-lvh bg-white z-10   absolute text-left my-8 font-main text-main font-semibold text-2xl leading-6  ">
        <div>
            <div class="">
                <p id="showAnalysis1" routerLink="analysis" routerLinkActive="text-black" class="showAnalysis mb-6 mx-12 cursor-pointer"><i class="fa-solid fa-chart-line fa-xs mx-3"></i>Analysis</p>
               
                
                    <div id="menuAnalysis" class="bg-white shadow-2xl m-5 rounded-md hidden  menuAnalysis">
                        <p  routerLink="analysis/product" routerLinkActive="text-black" class="my-3 mx-12 analysisSelected cursor-pointer text-lg">Product</p>
                        <hr>
                        <p  routerLink="analysis/revenue" routerLinkActive="text-black" class="my-3 mx-12 analysisSelected cursor-pointer text-lg ">Revenue</p>                <hr>
        
                        <p  routerLink="analysis/variation" routerLinkActive="text-black" class="my-3 mx-12 analysisSelected cursor-pointer text-lg">Variation</p><hr>
                        <p routerLink="analysis/catrgories" routerLinkActive="text-black" class="my-3 mx-12 analysisSelected cursor-pointer text-lg">Categories</p><hr>
        
        
                    </div>
                
            </div>
            <p routerLink="Orders" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer "> <i class="fa-regular fa-file-lines fa-xs mx-3"></i> Orders</p>
            <div class="">
                <p id="showProducts" routerLink="Products" routerLinkActive="text-black" class="showProducts mb-6 mx-12 cursor-pointer"><i class="fa-solid fa-chart-line fa-xs mx-3"></i>Products</p>
                <div id="menuProducts" class="bg-white shadow-2xl m-5 rounded-md hidden menuProducts">
                    <p routerLink="Products/allproduct" routerLinkActive="text-black" class="my-3 productSelected mx-12 cursor-pointer text-lg">Products</p>
                    <hr>
                    <p routerLink="Products/category" routerLinkActive="text-black" class="my-3 productSelected mx-12 cursor-pointer text-lg ">Category</p>                <hr>
                    <hr>
                    <p routerLink="Products/color" routerLinkActive="text-black" class="my-3 productSelected mx-12 cursor-pointer text-lg ">Color</p>                <hr>
                    
    
    
                </div>
            </div>
            <p routerLink="Media" routerLinkActive="text-black" class="my-6  mx-12 cursor-pointer "><i class="fa-regular fa-images fa-xs mx-3 "></i>Media</p>
            <p routerLink="Payment" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer"> <i class="fa-regular fa-credit-card fa-xs mx-3"></i> Payment</p>
            <p routerLink="Marketing" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer" > <i class="fa-solid fa-tag fa-xs mx-3"></i>Marketing</p>
            <p routerLink="Comments" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer"> <i class="fa-regular fa-message mx-3 fa-xs"></i>Comments</p>
            <p routerLink="Refund" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer" > <i class="fa-solid fa-hand-holding mx-3 fa-xs"></i>Refund</p>
            <p routerLink="user" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer"> <i class="fa-regular fa-circle-user fa-xs mx-3"></i>User</p>
            <p routerLink="settings" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer"> <i class="fa-solid fa-gear fa-xs mx-3"></i> Settings</p>
           </div>
        <p  class="my-6 mx-12 cursor-pointer"> <i class="fa-solid fa-gear fa-xs mx-3 mt-20"></i> logout</p>
 
         
     </div>

   </div>

</div>
<div class="flex">
   
    <div class="sm:hidden md:block max-sm:hidden lg:w-3/12 md:w-4/12  text-left my-8 font-main text-main font-semibold text-2xl leading-6  ">
       <div>
        <img src="assets/Images/logo.png" alt="">
        <div class="">
            <p id="showAnalysis1" routerLink="analysis" routerLinkActive="text-black" class="showAnalysis mb-6 mx-12 cursor-pointer"><i class="fa-solid fa-chart-line fa-xs mx-3"></i>Analysis</p>
           
            
                <div id="menuAnalysis" class="bg-white shadow-2xl m-5 rounded-md hidden  menuAnalysis">
                    <p  routerLink="analysis/product" routerLinkActive="text-black" class="my-3 mx-12 analysisSelected cursor-pointer text-lg">Product</p>
                    <hr>
                    <p  routerLink="analysis/revenue" routerLinkActive="text-black" class="my-3 mx-12 analysisSelected cursor-pointer text-lg ">Revenue</p>                <hr>
    
                    <p  routerLink="analysis/variation" routerLinkActive="text-black" class="my-3 mx-12 analysisSelected cursor-pointer text-lg">Variation</p><hr>
                    <p routerLink="analysis/catrgories" routerLinkActive="text-black" class="my-3 mx-12 analysisSelected cursor-pointer text-lg">Categories</p><hr>
    
    
                </div>
            
        </div>
        <p routerLink="Orders" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer "> <i class="fa-regular fa-file-lines fa-xs mx-3"></i> Orders</p>
        <div class="">
            <p id="showProducts" routerLink="Products" routerLinkActive="text-black" class="showProducts mb-6 mx-12 cursor-pointer"><i class="fa-solid fa-chart-line fa-xs mx-3"></i>Products</p>
            <div id="menuProducts" class="bg-white shadow-2xl m-5 rounded-md hidden menuProducts">
                <p routerLink="Products/allproduct" routerLinkActive="text-black" class="my-3 productSelected mx-12 cursor-pointer text-lg">Products</p>
                <hr>
                <p routerLink="Products/category" routerLinkActive="text-black" class="my-3 productSelected mx-12 cursor-pointer text-lg ">Category</p>                <hr>
                <hr>
                <p routerLink="Products/color" routerLinkActive="text-black" class="my-3 productSelected mx-12 cursor-pointer text-lg ">Color</p>                <hr>
                


            </div>
        </div>
        <p routerLink="Media" routerLinkActive="text-black" class="my-6  mx-12 cursor-pointer "><i class="fa-regular fa-images fa-xs mx-3 "></i>Media</p>
        <p routerLink="Payment" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer"> <i class="fa-regular fa-credit-card fa-xs mx-3"></i> Payment</p>
        <p routerLink="Marketing" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer" > <i class="fa-solid fa-tag fa-xs mx-3"></i>Marketing</p>
        <p routerLink="Comments" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer"> <i class="fa-regular fa-message mx-3 fa-xs"></i>Comments</p>
        <p routerLink="Refund" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer" > <i class="fa-solid fa-hand-holding mx-3 fa-xs"></i>Refund</p>
        <p routerLink="user" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer"> <i class="fa-regular fa-circle-user fa-xs mx-3"></i>User</p>
        <p routerLink="settings" routerLinkActive="text-black" class="my-6 mx-12 cursor-pointer"> <i class="fa-solid fa-gear fa-xs mx-3"></i> Settings</p>
       </div>
       <p (click)="logOut()"  class="my-6 mx-12 cursor-pointer"> <i class="fa-solid fa-arrow-right-from-bracket fa-xs mx-3 mt-20"></i> logout</p>

        
    </div>
    <div class=" lg:w-10/12 md:w-8/12 md:my-12 border-solid border-t-2	border-s-2 max-sm:p-4	md:p-8" >
        <router-outlet></router-outlet>
    </div>
</div>