.return
{
    color: #888888
    ;
}
.border-return
{
    border-color: #888888
    ;
}
.check
{
    color: #00FF47

    ;
}
.border-check
{
    border-color: #00FF47

    ;
}
.xmark
{
    color: #FF0000
;
}
.border-xmark
{
    border-color: #FF0000
;
}