<div class="p-3">
    <h2 class="font-main font-semibold text-xl leading-8 text-main mb-5">Comment</h2>
    <table class="table-fixed w-full border-collapse border border-slate-400 ">
        <thead class="bg-table text-main text-sm font-semibold">
            <tr>
                <th class="p-3 text-black w-1/12 mx-6 hidden lg:block">
                   
                    <input class="w-full" type="checkbox">
                </th>
                <th class="lg:w-2/12 text-center  lg:text-start">
                    Name
                </th>
                <th class="text-center w-8/12  lg:text-start lg:w-7/12">
                    Comment
                </th>
                <th class="w-2/12  hidden lg:block">
                    Date
                </th>
                
                
            </tr>
        </thead>
        <tbody class="text-center table-font font-semibold text-base table-font text-table  ">
         
            <tr class="border-collapse border border-slate-400 p-10 " >
                <td class="p-7 hidden lg:block">
                    <input class="w-full" type="checkbox">

                </td>
                <td class=" text-sm font-semibold text-center  lg:text-start">
                    ESLAMALAA
                    <span class="cursor-pointer text-red-600 block">Remove</span>
                </td>
                <td class=" text-center  lg:text-start text-sm font-semibold">
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. 
                    On the other hand, we denounce with righteous indignation and dislike men who are so
                     beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.                </td>
                <td class="text-sm font-semibold hidden lg:block">
                    2018/02/14 at 10:09 am 
                </td>
              </tr>
              
            <tr class="border-collapse border border-slate-400 p-10 " >
                <td class="p-7 hidden lg:block">
                    <input class="w-full" type="checkbox">

                </td>
                <td class=" text-sm font-semibold text-center  lg:text-start">
                    ESLAMALAA
                    <span class="cursor-pointer text-red-600 block">Remove</span>
                </td>
                <td class=" text-center  lg:text-start text-sm font-semibold">
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. 
                    On the other hand, we denounce with righteous indignation and dislike men who are so
                     beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.                </td>
                <td class="text-sm font-semibold hidden lg:block">
                    2018/02/14 at 10:09 am 
                </td>
              </tr>
              
            <tr class="border-collapse border border-slate-400 p-10 " >
                <td class="p-7 hidden lg:block">
                    <input class="w-full" type="checkbox">

                </td>
                <td class=" text-sm font-semibold text-center  lg:text-start">
                    ESLAMALAA
                    <span class="cursor-pointer text-red-600 block">Remove</span>
                </td>
                <td class=" text-center  lg:text-start text-sm font-semibold">
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. 
                    On the other hand, we denounce with righteous indignation and dislike men who are so
                     beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.                </td>
                <td class="text-sm font-semibold hidden lg:block">
                    2018/02/14 at 10:09 am 
                </td>
              </tr>
              
            <tr class="border-collapse border border-slate-400 p-10 " >
                <td class="p-7 hidden lg:block">
                    <input class="w-full" type="checkbox">

                </td>
                <td class=" text-sm font-semibold text-center  lg:text-start">
                    ESLAMALAA
                    <span class="cursor-pointer text-red-600 block">Remove</span>
                </td>
                <td class=" text-center  lg:text-start text-sm font-semibold">
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. 
                    On the other hand, we denounce with righteous indignation and dislike men who are so
                     beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.                </td>
                <td class="text-sm font-semibold hidden lg:block">
                    2018/02/14 at 10:09 am 
                </td>
              </tr>
              
            <tr class="border-collapse border border-slate-400 p-10 " >
                <td class="p-7 hidden lg:block">
                    <input class="w-full" type="checkbox">

                </td>
                <td class=" text-sm font-semibold text-center  lg:text-start">
                    ESLAMALAA
                    <span class="cursor-pointer text-red-600 block">Remove</span>
                </td>
                <td class=" text-center  lg:text-start text-sm font-semibold">
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. 
                    On the other hand, we denounce with righteous indignation and dislike men who are so
                     beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.                </td>
                <td class="text-sm font-semibold hidden lg:block">
                    2018/02/14 at 10:09 am 
                </td>
              </tr>
            
           
        </tbody>
    </table>

    <div class="flex items-center">
        <div class="lg:w-2/12 max-sm:w-6/12 flex justify-evenly">
            <p class=" border-2 text-center p-2 text-main rounded-md cursor-pointer ">
                Add New
            </p>
            <p class=" border-2 text-center p-2 text-red-500 rounded-md cursor-pointer ">
                Remove
            </p>
        </div>
        <div class="my-8 lg:w-8/12 flex mx-auto justify-around">
            <p>
                Page 
                <span>
                    1
                </span>
                to
                <span>
                    5
                </span>
            </p>
            <div class="flex">
                <div class="w-6 h-6 text-center bg-arrow mx-3 cursor-pointer">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="w-6 h-6 text-center bg-arrow cursor-pointer">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <p class="hidden lg:block">
                Go to page
            </p>
            <input type="text" class="border-main w-1/12 hidden lg:block rounded  border-2 border-solid outline-none" >
        
            <p class="hidden lg:block">
                Rows per page
            </p>
            <input type="number" min="1" max="20" class="border-main w-1/12 hidden lg:block rounded  border-2 border-solid outline-none">
        
        </div>
    </div>

</div>